In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.airbnb.co.in/s/New-Delhi--India/homes?adults=1&place_id=ChIJLbZ-NFv9DDkRzk0gTkm3wlI&refinement_paths%5B%5D=%2Fhomes&tab_id=home_tab&query=New%20Delhi%2C%20India&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2023-12-01&monthly_length=3&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&search_type=unknown&federated_search_session_id=f3884828-eeb9-4adf-8340-ba7f3ba163d7&pagination_search=true&cursor=eyJzZWN0aW9uX29mZnNldCI6MCwiaXRlbXNfb2Zmc2V0IjowLCJ2ZXJzaW9uIjoxfQ%3D%3D'

In [3]:
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.text,'html.parser')

In [5]:
name_list = []

name = soup.find_all('div', class_ = 't1jojoys dir dir-ltr')

for i in name:
    name_list.append(i.text)

In [6]:
price_list = []

price = soup.find_all('div', class_ = '_1jo4hgw')

for i in price:
    price_list.append(i.text.replace('\xa0',' /'))

In [7]:
desc_list = []

desc = soup.find_all('span', class_ = 't6mzqp7 dir dir-ltr')

for i in desc:
    desc_list.append(i.text)

In [8]:
rating_list = []

rating = soup.find_all('span', class_ = 'r1dxllyb dir dir-ltr')

for i in rating:
    rating_list.append(i.text)

In [9]:
for i in range(1,10):
    np = 'https://www.airbnb.co.in' + soup.find('a', class_ = 'l1ovpqvx c1ytbx3a dir dir-ltr').get('href')
    
    r = requests.get(np)
    soup = BeautifulSoup(r.text, 'html.parser')
    
    name = soup.find_all('div', class_ = 't1jojoys dir dir-ltr')

    for i in name:
        name_list.append(i.text)
        
    price = soup.find_all('div', class_ = '_1jo4hgw')

    for i in price:
        price_list.append(i.text.replace('\xa0',' /'))
    
    desc = soup.find_all('span', class_ = 't6mzqp7 dir dir-ltr')

    for i in desc:
        desc_list.append(i.text)
    
    rating = soup.find_all('span', class_ = 'r1dxllyb dir dir-ltr')

    for i in rating:
        rating_list.append(i.text)

In [10]:
dict_ = {'Rooms Name':name_list, 'Description':desc_list,'Price':price_list,'Rating':rating_list}
df = pd.DataFrame(dict_)

In [11]:
df

,Rooms Name,Description,Price,Rating
0,Room in New Delhi,"Tiny: comfy small room, gk2!","₹1,614 /night",4.65 (17)
1,Place to stay in New Delhi,MOHANS-HOME AWAY FROM HOME,"₹1,239 /night",4.86 (42)
2,Guest house in New Delhi,Vasant Kunj - A ROOM WITH A VIEW ! and WHOLE ...,"₹1,084 /night",4.79 (66)
3,Tiny home in New Delhi,Sunrise homes 2,"₹1,849 /night",4.71 (41)
4,Flat in New Delhi,Diwan-E-Khas (3),"₹7,583 /night",New
...,...,...,...,...
175,Flat in Delhi,Homlee-Vintage 2BHK Apt with Park/Fort View,"₹5,152 /night",New
176,Flat in New Delhi,Harphool Nivas @ Hauz Khas Village,"₹5,135 /night",4.68 (25)
177,Place to stay in New Delhi,Room 1:-Beautiful room With terrace access,"₹1,140 /night",4.54 (26)
178,Flat in New Delhi,Luxury Studio apartment for a romantic stay,"₹2,988 /₹2,723 /night",4.78 (67)
179,Room in New Delhi,The Sunny Side,"₹4,345 /night",4.94 (18)