In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.iplt20.com/auction/2023'

In [3]:
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.text,'lxml')

In [5]:
data = soup.find('table', {'class':'ih-td-tab auction-tbl'})

In [6]:
header = data.find_all('th')

In [7]:
title = []
for i in header:
    title.append(i.text)

In [8]:
title

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [9]:
df = pd.DataFrame(columns = title)

In [10]:
rows = data.find_all('tr')

In [11]:
rows

[<tr class="ih-pt-tbl" style="display:revert">
 <th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>
 <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>
 <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>
 <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190443_CSKroundbig%20%283%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Chennai Super Kings</h2>
 </div>
 </td>
 <td>₹1,50,00,000</td>
 <td>8</td>
 <td>25</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190785_DCroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Delhi Capitals</h2>
 </div>
 </td>
 <td>₹4,45,00,000</td>
 <td>8</td>
 <td>25</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190498_GTroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Gujarat Titans</h2>
 </div>
 </td>
 <td>₹4,45,00,000</td>
 <td>8</td>
 <td>25</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190381_KKRroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Kolkata Knight Riders</h2>
 </div>
 </td>
 <td>₹1,65,00,000</td>
 <td>8</td>
 <td>22</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190538_LSGroundbig%20%283%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Lucknow Super Giants</h2>
 </div>
 </td>
 <td>₹3,55,00,000</td>
 <td>8</td>
 <td>25</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190671_MIroundbig%20%283%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Mumbai Indians</h2>
 </div>
 </td>
 <td>₹5,00,000</td>
 <td>8</td>
 <td>24</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671188073_PBKSroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Punjab Kings</h2>
 </div>
 </td>
 <td>₹12,20,00,000</td>
 <td>7</td>
 <td>22</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190713_RRroundbig%20%283%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Rajasthan Royals</h2>
 </div>
 </td>
 <td>₹3,35,00,000</td>
 <td>8</td>
 <td>25</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190586_RCBroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Royal Challengers Bangalore</h2>
 </div>
 </td>
 <td>₹1,75,00,000</td>
 <td>8</td>
 <td>25</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190639_SRHroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
 </div>
 </td>
 <td>₹6,55,00,000</td>
 <td>8</td>
 <td>25</td>
 </tr>]

In [12]:
for i in rows[1:]:
    name = i.find('h2')
    print(name.text)

Chennai Super Kings
Delhi Capitals
Gujarat Titans
Kolkata Knight Riders
Lucknow Super Giants
Mumbai Indians
Punjab Kings
Rajasthan Royals
Royal Challengers Bangalore
Sunrisers Hyderabad

In [13]:
for i in rows[1:]: 
    
    data_lst = []   
    name = i.find('h2')
    data_lst.append(name.text)
    
    other_data = i.find_all('td')
    
    for j in other_data[1:]:
        data_lst.append(j.text)
    
    l = len(df)
    df.loc[l] = data_lst

### 2nd Approach

In [14]:
second_df = pd.DataFrame(columns = title)

In [15]:
for i in rows[1:]:
    row = i.find_all('td')
    
    data_list = []
    for j in row:
        data_list.append(j.text)
        
    l = len(second_df)
    second_df.loc[l] = data_list

In [16]:
def remove_n(text):
    clean_text = text.replace('\n','')
    return clean_text

In [17]:
second_df['TEAM'] = second_df['TEAM'].apply(remove_n)

## Top Buy Players Table

In [18]:
top_buy = soup.find('table',class_ = 'ih-td-tab auction-tbl', id = "t4")

In [19]:
top_buy

<table class="ih-td-tab auction-tbl" id="t4" width="100%">
<thead>
<tr class="ih-pt-tbl" style="display:revert">
<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>
<th class="skip-filter" style="width:25%;">PLAYER</th>
<th class="skip-filter" style="width:25%;">TYPE </th>
<th class="skip-filter" style="width:25%;">PRICE</th>
</tr>
</thead>
<tbody id="pointsdata">
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671188073_PBKSroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Punjab Kings</h2>
</div>
</td>
<td>Sam Curran</td>
<td>All-Rounder</td>
<td>₹18,50,00,000</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190671_MIroundbig%20%283%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Mumbai Indians</h2>
</div>
</td>
<td>Cameron Green</td>
<td>All-Rounder</td>
<td>₹17,50,00,000</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190443_CSKroundbig%20%283%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Chennai Super Kings</h2>
</div>
</td>
<td>Ben Stokes</td>
<td>All-Rounder</td>
<td>₹16,25,00,000</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190538_LSGroundbig%20%283%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Lucknow Super Giants</h2>
</div>
</td>
<td>Nicholas Pooran</td>
<td>Wicket-Keeper</td>
<td>₹16,00,00,000</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190639_SRHroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
</div>
</td>
<td>Harry Brook</td>
<td>Batter</td>
<td>₹13,25,00,000</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190639_SRHroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
</div>
</td>
<td>Mayank Agarwal</td>
<td>Batter</td>
<td>₹8,25,00,000</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190498_GTroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Gujarat Titans</h2>
</div>
</td>
<td>Shivam Mavi</td>
<td>Bowler</td>
<td>₹6,00,00,000</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190713_RRroundbig%20%283%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Rajasthan Royals</h2>
</div>
</td>
<td>Jason Holder</td>
<td>All-Rounder</td>
<td>₹5,75,00,000</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190785_DCroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Delhi Capitals</h2>
</div>
</td>
<td>Mukesh Kumar</td>
<td>Bowler</td>
<td>₹5,50,00,000</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190639_SRHroundbig%20%282%29%201.png"/>
</div>
<h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
</div>
</td>
<td>Heinrich Klaasen</td>
<td>Wicket-Keeper</td>
<td>₹5,25,00,000</td>
</tr>
</tbody>
</table>

In [20]:
top_buy_header = top_buy.find_all('th')

header_list = []
for i in top_buy_header:
    header_list.append(i.text)

In [21]:
top_buys_df = pd.DataFrame(columns = header_list)

In [22]:
top_buy_rows = top_buy.find_all('tr')

In [23]:
top_buy_rows

[<tr class="ih-pt-tbl" style="display:revert">
 <th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>
 <th class="skip-filter" style="width:25%;">PLAYER</th>
 <th class="skip-filter" style="width:25%;">TYPE </th>
 <th class="skip-filter" style="width:25%;">PRICE</th>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671188073_PBKSroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Punjab Kings</h2>
 </div>
 </td>
 <td>Sam Curran</td>
 <td>All-Rounder</td>
 <td>₹18,50,00,000</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190671_MIroundbig%20%283%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Mumbai Indians</h2>
 </div>
 </td>
 <td>Cameron Green</td>
 <td>All-Rounder</td>
 <td>₹17,50,00,000</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190443_CSKroundbig%20%283%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Chennai Super Kings</h2>
 </div>
 </td>
 <td>Ben Stokes</td>
 <td>All-Rounder</td>
 <td>₹16,25,00,000</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190538_LSGroundbig%20%283%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Lucknow Super Giants</h2>
 </div>
 </td>
 <td>Nicholas Pooran</td>
 <td>Wicket-Keeper</td>
 <td>₹16,00,00,000</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190639_SRHroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
 </div>
 </td>
 <td>Harry Brook</td>
 <td>Batter</td>
 <td>₹13,25,00,000</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190639_SRHroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
 </div>
 </td>
 <td>Mayank Agarwal</td>
 <td>Batter</td>
 <td>₹8,25,00,000</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190498_GTroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Gujarat Titans</h2>
 </div>
 </td>
 <td>Shivam Mavi</td>
 <td>Bowler</td>
 <td>₹6,00,00,000</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190713_RRroundbig%20%283%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Rajasthan Royals</h2>
 </div>
 </td>
 <td>Jason Holder</td>
 <td>All-Rounder</td>
 <td>₹5,75,00,000</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190785_DCroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Delhi Capitals</h2>
 </div>
 </td>
 <td>Mukesh Kumar</td>
 <td>Bowler</td>
 <td>₹5,50,00,000</td>
 </tr>,
 <tr>
 <td class="ih-t-color">
 <div class="ih-pt-ic">
 <div class="ih-pt-img" style="width: 60px">
 <img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1671190639_SRHroundbig%20%282%29%201.png"/>
 </div>
 <h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
 </div>
 </td>
 <td>Heinrich Klaasen</td>
 <td>Wicket-Keeper</td>
 <td>₹5,25,00,000</td>
 </tr>]

In [24]:
for i in top_buy_rows[1:]:
    top_buy_data = []
    name = i.find('h2')
    top_buy_data.append(name.text)
    
    top_buy_other_data = i.find_all('td')
    for j in top_buy_other_data[1:]:
        top_buy_data.append(j.text)
    
    l = len(top_buys_df)
    top_buys_df.loc[l] = top_buy_data

### 2nd Approach

In [25]:
top_buys_df_2 = pd.DataFrame(columns = header_list)

for i in top_buy_rows[1:]:
    row = i.find_all('td')
    
    tb_other_data = []
    for j in row:
        tb_other_data.append(j.text)
    
    l = len(top_buys_df_2)
    top_buys_df_2.loc[l] = tb_other_data

top_buys_df_2["TEAM"] = top_buys_df_2["TEAM"].apply(remove_n)

## Unsold Players Table

In [40]:
unsold_player = soup.find('table',class_ = 'ih-td-tab auction-tbl', id = 't2')

In [44]:
header = unsold_player.find_all('th')

up_header_list = []
for i in header:
    up_header_list.append(i.text)

In [45]:
up_header_list

['PLAYER', 'NATIONALITY', 'TYPE', 'BASE PRICE']

In [46]:
unsold_players_df = pd.DataFrame(columns = up_header_list)

In [47]:
rows = unsold_player.find_all('tr')

In [49]:
for i in rows[1:]:
    up_data = i.find_all('td')
    
    up_data_list = []
    for j in up_data:
        up_data_list.append(j.text)
        
    l = len(unsold_players_df)
    unsold_players_df.loc[l] = up_data_list

In [26]:
df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,50,00,000                 8            25
1               Delhi Capitals    ₹4,45,00,000                 8            25
2               Gujarat Titans    ₹4,45,00,000                 8            25
3        Kolkata Knight Riders    ₹1,65,00,000                 8            22
4         Lucknow Super Giants    ₹3,55,00,000                 8            25
5               Mumbai Indians       ₹5,00,000                 8            24
6                 Punjab Kings   ₹12,20,00,000                 7            22
7             Rajasthan Royals    ₹3,35,00,000                 8            25
8  Royal Challengers Bangalore    ₹1,75,00,000                 8            25
9          Sunrisers Hyderabad    ₹6,55,00,000                 8            25

In [27]:
top_buys_df

                   TEAM            PLAYER          TYPE           PRICE
0          Punjab Kings        Sam Curran    All-Rounder  ₹18,50,00,000
1        Mumbai Indians     Cameron Green    All-Rounder  ₹17,50,00,000
2   Chennai Super Kings        Ben Stokes    All-Rounder  ₹16,25,00,000
3  Lucknow Super Giants   Nicholas Pooran  Wicket-Keeper  ₹16,00,00,000
4   Sunrisers Hyderabad       Harry Brook         Batter  ₹13,25,00,000
5   Sunrisers Hyderabad    Mayank Agarwal         Batter   ₹8,25,00,000
6        Gujarat Titans       Shivam Mavi         Bowler   ₹6,00,00,000
7      Rajasthan Royals      Jason Holder    All-Rounder   ₹5,75,00,000
8        Delhi Capitals      Mukesh Kumar         Bowler   ₹5,50,00,000
9   Sunrisers Hyderabad  Heinrich Klaasen  Wicket-Keeper   ₹5,25,00,000

In [50]:
unsold_players_df

                    PLAYER NATIONALITY           TYPE   BASE PRICE
0               Tom Banton    Overseas  Wicket-Keeper  2,00,00,000
1             Chris Jordan    Overseas         Bowler  2,00,00,000
2               Adam Milne    Overseas         Bowler  2,00,00,000
3              Travis Head    Overseas         Batter  2,00,00,000
4    Rassie Van Der Dussen    Overseas         Batter  2,00,00,000
..                     ...         ...            ...          ...
320            Dhruv Patel      Indian    All-Rounder    20,00,000
321        Jack Prestwidge    Overseas    All-Rounder    20,00,000
322         Aditya Sarvate      Indian    All-Rounder    20,00,000
323          Sagar Solanki      Indian    All-Rounder    20,00,000
324      Prenelan Subrayen    Overseas    All-Rounder    20,00,000

[325 rows x 4 columns]

In [28]:
second_df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,50,00,000                 8            25
1               Delhi Capitals    ₹4,45,00,000                 8            25
2               Gujarat Titans    ₹4,45,00,000                 8            25
3        Kolkata Knight Riders    ₹1,65,00,000                 8            22
4         Lucknow Super Giants    ₹3,55,00,000                 8            25
5               Mumbai Indians       ₹5,00,000                 8            24
6                 Punjab Kings   ₹12,20,00,000                 7            22
7             Rajasthan Royals    ₹3,35,00,000                 8            25
8  Royal Challengers Bangalore    ₹1,75,00,000                 8            25
9          Sunrisers Hyderabad    ₹6,55,00,000                 8            25

In [29]:
top_buys_df_2

                   TEAM            PLAYER          TYPE           PRICE
0          Punjab Kings        Sam Curran    All-Rounder  ₹18,50,00,000
1        Mumbai Indians     Cameron Green    All-Rounder  ₹17,50,00,000
2   Chennai Super Kings        Ben Stokes    All-Rounder  ₹16,25,00,000
3  Lucknow Super Giants   Nicholas Pooran  Wicket-Keeper  ₹16,00,00,000
4   Sunrisers Hyderabad       Harry Brook         Batter  ₹13,25,00,000
5   Sunrisers Hyderabad    Mayank Agarwal         Batter   ₹8,25,00,000
6        Gujarat Titans       Shivam Mavi         Bowler   ₹6,00,00,000
7      Rajasthan Royals      Jason Holder    All-Rounder   ₹5,75,00,000
8        Delhi Capitals      Mukesh Kumar         Bowler   ₹5,50,00,000
9   Sunrisers Hyderabad  Heinrich Klaasen  Wicket-Keeper   ₹5,25,00,000